/* GENERAL DEFINITIONS */
body{
    font-size:12px;
    font-family:Arial;
    padding:0;
    margin:0
}

h1,h2,h3,h4{
    padding:2px 4px;
    font-weight:normal;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
h1{font-size:22px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
a{color:#2219B2}
a:hover{color:#7872D8}
#container{margin:0 10px}

.home-title{
    font-size:24px;
    font-weight:normal;
    text-align:center;
    padding:2px;
    margin:0;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED;
}

/* LOGIN */
#login{
    width: 250px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    margin:100px auto 0;
    padding: 30px;
    -moz-box-shadow:0px 0px 80px #999;
    -webkit-box-shadow:0px 0px 80px #999;
    box-shadow:0px 0px 80px #999;
    background-color:#f5f5f5;
    border:1px solid #999;
}
#login label {
    font-size: 16px;
    color: #666;
    font-weight: bold;
}
#login input[type=text], #login input[type=password] {
    font-size: 16px;
    padding: 2px;
    margin:0 0 15px;
    border: 1px solid #999;
    background: #fff;
    width: 100%;
    color:#000;
}
#login input[type=text]:hover, #login input[type=password]:hover {
    -moz-box-shadow:0px 0px 5px #999;
    -webkit-box-shadow:0px 0px 5px #999;
    box-shadow:0px 0px 5px #999;
}
#login input[type=submit]{
    font-size:16px;
    width:100%;
    text-align:center;
    margin:0 auto;
    padding:2px;
    cursor:pointer;
    border-radius:5px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED;
    font-weight: bold
}
.install-answer{
    background: #fff;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
    box-shadow: 0 0 10px #fff;
    border-radius: 5px;
}

/* MENU */
#menu{
    padding:8px 4px;
    margin:0;
    background-color:#333;
    border-bottom:1px solid #D5D5D5;
    box-shadow: 0 3px 2px #666;
}
.btn{
    font-size:12px;
    color:#000;
    text-decoration:none;
    text-shadow:1px 1px 0 #FFE540;
    padding:2px 4px 2px 22px;
    margin:0 4px;
    background-position:2px 50%;
    background-repeat:no-repeat;
    border-radius:3px;
    border:1px solid #D67804;
}
.btn:hover{color:#000}
.btn_dashboard{float:left;
    background-color:#FFB51B;background-image:url(../images/back.png);
    background-image:url(../images/back.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/back.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/back.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/back.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/back.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/back.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_dashboard:hover{background-color:#FB8F19;background-image:url(../images/back.png);
    background-image:url(../images/back.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/back.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/back.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/back.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/back.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/back.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_taskboard{float:left;
    background-color:#FFB51B;background-image:url(../images/tasks.png);
    background-image:url(../images/tasks.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/tasks.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/tasks.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/tasks.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/tasks.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/tasks.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_taskboard:hover{background-color:#FB8F19;background-image:url(../images/tasks.png);
    background-image:url(../images/tasks.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/tasks.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/tasks.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/tasks.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/tasks.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/tasks.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/tasks.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_users{float:left;
    background-color:#FFB51B;background-image:url(../images/user.png);
    background-image:url(../images/user.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/user.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/user.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/user.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/user.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/user.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_users:hover{background-color:#FB8F19;background-image:url(../images/user.png);
    background-image:url(../images/user.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/user.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/user.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/user.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/user.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/user.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_add{float:left;
    background-color:#FFB51B;background-image:url(../images/new.png);
    background-image:url(../images/new.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/new.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/new.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/new.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/new.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/new.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_add:hover{background-color:#FB8F19;background-image:url(../images/new.png);
    background-image:url(../images/new.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/new.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/new.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/new.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/new.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/new.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_edit{float:left;
    background-color:#FFB51B;background-image:url(../images/edit.png);
    background-image:url(../images/edit.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/edit.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/edit.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/edit.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/edit.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/edit.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_edit:hover{background-color:#FB8F19;background-image:url(../images/edit.png);
    background-image:url(../images/edit.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/edit.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/edit.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/edit.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/edit.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/edit.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_transport{float:left;
    background-color:#FFB51B;background-image:url(../images/box_open.png);
    background-image:url(../images/box_open.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/box_open.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/box_open.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/box_open.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/box_open.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/box_open.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_transport:hover{background-color:#FB8F19;background-image:url(../images/box_open.png);
    background-image:url(../images/box_open.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/box_open.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/box_open.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/box_open.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/box_open.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/box_open.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_logout{float:right;
    background-color:#FFB51B;background-image:url(../images/logout.png);
    background-image:url(../images/logout.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/logout.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/logout.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/logout.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/logout.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/logout.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_logout:hover{background-color:#FB8F19;background-image:url(../images/logout.png);
    background-image:url(../images/logout.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/logout.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/logout.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/logout.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/logout.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/logout.png), linear-gradient(top,#F78400,#FF9C30)
}
#page-title{
    font-size:20px;
    color:#fff;
    text-align:center;
    text-shadow:1px 1px 0 #666;
    margin:-1px auto 15px;
    padding:4px 0;
    background:#333;
    border:1px solid #D5D5D5;
    border-top:0;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 3px 2px #666;
    width:50%;
}
/* MAIN */
/* DASHBOARD */
.dash_wrap{
    margin-bottom: 10px;
    padding:2px;
    height: 206px;
    overflow:hidden;
}
.dash_wrap_title{
    float:left;
    height:203px;
    line-height: 203px;
    width:10%;
    margin-right: 10px;
    font-size:14px;
    text-align: center;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED;
}
.dash_wrap_items{
    border:1px solid #D5D5D5;
    padding:2px;
    width:80%;
    height: 200px;
    overflow: auto;
}
.dash_wrap_items:hover{
    -moz-box-shadow:0 0 5px #999;
    -webkit-box-shadow:0 0 5px #999;
    box-shadow:0 0 5px #999
}
.dash_project_group{
    border:1px solid #D5D5D5;
    padding:2px;
}
#dash_task_items ul{
    list-style: none;
    margin:3px 0;
    padding: 0 10px;
    float:left;
}
#dash_task_items li, .dash_project_group li{
    margin:4px 0;
}
.dash_project_group{
    border:1px solid #D5D5D5;
    margin:0 4px 4px 0;
    padding:2px;
    width:250px;
    float:left;
}
.dash_project_group ul{
    list-style: none;
    margin:3px 0;
    padding:0 10px;
}
.dash_project_title{
    margin:2px auto 8px;
    padding:2px;
    font-size:14px;
    text-align: center;
    border:1px solid #3079ED
}
.dash_project_title a{
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
}
.dash_view_all_tasks{
    color:#fff;
    font-size:12px;
    text-decoration:none;
    text-shadow:1px 1px 0 #3070D5;
    padding:2px 4px;
    margin:0 4px;
    border-radius:3px;
    border:1px solid #3079ED;
}
.dash_view_all_tasks:hover{
    color:#fff;
}
/* USERS */
#users_table tr{
    text-align: center;
    font-size: 12px;
}
/* PROJECTS */
.project-users{
    margin:2px auto 8px;
    padding:2px;
    font-size:14px;
    text-align: center;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
#associated-users{
    display:none;
}
.global-tasks, .user-tasks{
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin:2px 8px;
    padding:2px;
    width:16px;
    height:16px;
    cursor:pointer;
    float:right;
}
.global-tasks{
    background-color:#FFB51B;background-image:url(../images/global.png);
    background-image:url(../images/global.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/global.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/global.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/global.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/global.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/global.png), linear-gradient(top,#FFD500,#FF9C30)
}
.global-tasks:hover{background-color:#FB8F19;background-image:url(../images/global.png);
    background-image:url(../images/global.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/global.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/global.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/global.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/global.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/global.png), linear-gradient(top,#F78400,#FF9C30)
}
.user-tasks{
    background-color:#FFB51B;background-image:url(../images/user.png);
    background-image:url(../images/user.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/user.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/user.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/user.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/user.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/user.png), linear-gradient(top,#FFD500,#FF9C30)
}
.user-tasks:hover{background-color:#FB8F19;background-image:url(../images/user.png);
    background-image:url(../images/user.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/user.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/user.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/user.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/user.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/user.png), linear-gradient(top,#F78400,#FF9C30)
}
.project-task{
    display:none;
}
/* TASKS */
.task-info{
    background-color:#f5f5f5;
    border:1px solid #D5D5D5;
    padding:10px;
    margin:0 0 10px 0;
    overflow:hidden;
}
.task-info-left{
    width:75%;
    padding-right: 10px;
    display:table-cell;
}
.task-info-right{
    width:25%;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #d5d5d5;
    display:table-cell;
}
.task-info-title{
    display: table-row;
    font-size: 2em;
    margin:0.5em 0;
    text-shadow: 1px 1px 0 #fff;
}
.task-comments{
    background-color:#f5f5f5;
    border:1px solid #D5D5D5;
    padding:10px;
    margin:0 0 10px 0;
}
.task-comments-title{
    font-size:1.2em;
    text-shadow: 1px 1px 0 #fff;
}
.task-comment-single{
    border-top: 1px solid #d5d5d5;
    padding-bottom: 10px;
}
.task-comment-form{
    margin-top:10px;
    border-top: 1px solid #d5d5d5;
}
.task-comment-form label, .task-comment-form textarea{
    margin:0;
}
#container table {
    background-color:#f5f5f5;
    border:1px solid #D5D5D5;
    margin:0 auto;
    width:100%;
}
#container table th{
    font-size:14px;
    font-weight:normal;
    padding:2px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
#container table.board td{
    width:25%;
    vertical-align:top;
}
table.history thead tr td{
    font-size:14px;
    font-weight:normal;
    padding:2px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
table.history td{
    width:20%;
    vertical-align:top;
}
.task{
    margin:2px 0;
    padding:2px;
    background:#fff;
    position:relative;
    border:1px solid #D5D5D5
}
.task:hover{
    -moz-box-shadow:0 0 5px #999;
    -webkit-box-shadow:0 0 5px #999;
    box-shadow:0 0 5px #999
}
.task_id{margin:0;padding:1px;position:absolute;right:0;top:0}
.task_title{font-weight:bold;text-decoration:underline;margin:0;padding:1px;width:80%}
.task_text{margin:0;padding:1px}
.task_info{margin:0;padding:1px}
.task_links{text-align:center;margin:0;padding:1px}
.task_user, .task_time{margin:2px 0;font-style:italic;color:#666;font-size:11px;}
.task_time_control{
    float:right;
    width:16px;
    height:16px;
    text-indent: -10000px;
    outline: none;
}
.task_time_control.stop{
    background-image:url(../images/stop.png);
}
.task_time_control.play{
    background-image:url(../images/play.png);
}
ul.task-hierarchy{
    list-style: none;
    padding-left:0;
}
ul.task-hierarchy ul{
    list-style: none;
    border-left: 1px solid #d5d5d5;
    padding-left:15px;
}
ul.task-hierarchy li{
    margin:0 0 2px;
    line-height: 1.5em;
}
ul.task-history{
    list-style: none;
    padding-left:10px;
    margin:0;
}
ul.task-history ul{
    list-style: none;
    padding-left:10px;
    margin:0;
}
ul.task-history li{
    margin:2px 0;
}
/* FORMS */
label{
    margin:4px 5px 0;
}
input,textarea,select,button{
    margin:4px 5px 0;
    padding: 2px;
    width:400px;
    background-color:#fff;
    border:1px solid #D5D5D5
}
input:disabled,textarea:disabled,select:disabled,button:disabled{
    background: #e9e9e9;
}
input[type=checkbox]{
    width:auto;
}
input[type=submit],button{
    width:65px;
    text-align:center;
    margin:4px 5px;
    cursor:pointer;
    border-radius:5px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
td.error{
    color: #DD0000;
    padding:0 5px;
}

/* JQUERY UI DIALOG */
.ui-dialog{
    border:1px solid #D5D5D5;
    background: #f5f5f5;
    padding:2px;
	box-shadow:0 0 10px #000;
}
.ui-dialog-titlebar{
    padding:2px;
    background-color:#4A8BF5;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
    border:1px solid #3079ED;
}
.ui-dialog-title{
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
}
.ui-dialog-titlebar-close{
    float:right;
    margin-right: 16px;
    text-indent: -9999px;
}
.ui-icon-closethick{
    background-image: url(../images/close.png);
    width:16px;
    height:16px;
    float:left;
}
.ui-button{
    background-color:#4A8BF5;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
}
.ui-dialog-buttonset{
    border-top:1px solid #d5d5d5;
    padding:2px 0 0;
    text-align:center;
}
.ui-icon-alert{
    background-image: url(../images/alert.png);
    width:16px;
    height:16px;
    float:left;
    margin:10px;
}
.ui-widget-overlay{
    position:fixed;
    top:0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* msie */
}
/* CLASSES */
.blue-gradient, .btn-blue{background-color:#4A8BF5;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
}
.btn-blue:hover{background-color:#3D7DE0;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #3574D5);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3574D5), to(#4080E5));
}
.darker-on-hover:hover{
    background:#e5e5e5;
}
.expand{
    background-image: url(../images/expand.png);
    background-repeat: no-repeat;
    padding-left:16px;
    cursor:pointer;
}
.collapse{
    background-image: url(../images/collapse.png);
    background-repeat: no-repeat;
    padding-left:16px;
    cursor:pointer;
}
.half-width{
    width:50%;
    float:left;
}
.notice{
    background-image: url(../images/alert.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-color: #f5f5f5;
    border:1px solid #D5D5D5;
    padding:10px 10px 10px 34px;
    margin:0 auto;
    width:500px;
}
.form-save-buttons{
    text-align:center;
}
.error{
    color:#DD0000;
}
.clear{
    clear:both;
}