/* GENERAL DEFINITIONS */
body{font-size:11px;font-family:Arial;padding:0;margin:0}

h1,h2,h3,h4{
    padding:2px 4px;
    font-weight:normal;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
h1{font-size:22px}
h2{font-size:20px}
h3{font-size:18px}
h4{font-size:16px}
a{color:#2219B2}
a:hover{color:#7872D8}
#container{margin:0 10px}

.home-title{
    font-size:24px;
    font-weight:normal;
    text-align:center;
    width:100%;
    padding:2px;
    margin:0;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}

/* LOGIN */
#login{
    width: 250px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius:20px;
    margin:100px auto 0;
    padding: 30px;
    -moz-box-shadow:0px 0px 80px #999;
    -webkit-box-shadow:0px 0px 80px #999;
    box-shadow:0px 0px 80px #999;
    background-color:#f5f5f5;
    border:1px solid #D5D5D5
}
#login label {
    font-size: 16px;
    color: #666;
    font-weight: bold;
}
#login input[type=text], #login input[type=password] {
    font-size: 16px;
    padding: 2px;
    margin:0 0 15px;
    border: 1px solid #999;
    background: #fff;
    width: 100%;
    color:#000;
}
#login input[type=text]:hover, #login input[type=password]:hover {
    -moz-box-shadow:0px 0px 5px #999;
    -webkit-box-shadow:0px 0px 5px #999;
    box-shadow:0px 0px 5px #999;
}
#login input[type=submit]{
    font-size:16px;
    width:100%;
    text-align:center;
    margin:0 auto;
    padding:2px;
    cursor:pointer;
    border-radius:5px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED;
    font-weight: bold
}

/* MENU */
#menu{
    padding:8px 4px;
    margin:0 0 10px;
    background-color:#333;
    border-bottom:1px solid #D5D5D5
}
.btn{
    font-size:12px;
    color:#000;
    text-decoration:none;
    text-shadow:1px 1px 0 #FFE540;
    padding:2px 4px 2px 22px;
    margin:0 4px;
    background-position:0 50%;
    background-repeat:no-repeat;
    border-radius:3px
}
.btn:hover{color:#000}
.btn_dashboard{border:1px solid #D67804;float:left;
    background-color:#FFB51B;background-image:url(../images/back.png);
    background-image:url(../images/back.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/back.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/back.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/back.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/back.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/back.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_dashboard:hover{background-color:#FB8F19;background-image:url(../images/back.png);
    background-image:url(../images/back.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/back.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/back.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/back.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/back.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/back.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_users{border:1px solid #D67804;float:left;
    background-color:#FFB51B;background-image:url(../images/user.png);
    background-image:url(../images/user.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/user.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/user.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/user.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/user.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/user.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_users:hover{background-color:#FB8F19;background-image:url(../images/user.png);
    background-image:url(../images/user.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/user.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/user.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/user.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/user.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/user.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_add{border:1px solid #D67804;float:left;
    background-color:#FFB51B;background-image:url(../images/new.png);
    background-image:url(../images/new.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/new.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/new.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/new.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/new.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/new.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_add:hover{background-color:#FB8F19;background-image:url(../images/new.png);
    background-image:url(../images/new.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/new.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/new.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/new.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/new.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/new.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_transport{border:1px solid #D67804;float:left;
    background-color:#FFB51B;background-image:url(../images/box_open.png);
    background-image:url(../images/box_open.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/box_open.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/box_open.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/box_open.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/box_open.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/box_open.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_transport:hover{background-color:#FB8F19;background-image:url(../images/box_open.png);
    background-image:url(../images/box_open.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/box_open.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/box_open.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/box_open.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/box_open.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/box_open.png), linear-gradient(top,#F78400,#FF9C30)
}
.btn_logout{border:1px solid #D67804;float:right;
    background-color:#FFB51B;background-image:url(../images/logout.png);
    background-image:url(../images/logout.png), -webkit-gradient(linear, left top, left bottom, from(#FFD500), to(#FF9C30));
    background-image:url(../images/logout.png), -webkit-linear-gradient(top,#FFD500,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/logout.png), -moz-linear-gradient(top,#FFD500,#FF9C30); /* FF3.6+ */
    background-image:url(../images/logout.png), -ms-linear-gradient(top,#FFD500,#FF9C30); /* IE10 */
    background-image:url(../images/logout.png), -o-linear-gradient(top,#FFD500,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/logout.png), linear-gradient(top,#FFD500,#FF9C30)
}
.btn_logout:hover{background-color:#FB8F19;background-image:url(../images/logout.png);
    background-image:url(../images/logout.png), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F78400), to(#FF9C30));
    background-image:url(../images/logout.png), -webkit-linear-gradient(top,#F78400,#FF9C30); /* Chrome 10+, Saf5.1+ */
    background-image:url(../images/logout.png), -moz-linear-gradient(top,#F78400,#FF9C30); /* FF3.6+ */
    background-image:url(../images/logout.png), -ms-linear-gradient(top,#F78400,#FF9C30); /* IE10 */
    background-image:url(../images/logout.png), -o-linear-gradient(top,#F78400,#FF9C30); /* Opera 11.10+ */
    background-image:url(../images/logout.png), linear-gradient(top,#F78400,#FF9C30)
}

/* MAIN */
/* DASHBOARD */
.dash_wrap{
    border:1px solid #D5D5D5;
    margin-bottom: 10px;
    padding:2px;
    height: 100px;
    overflow:hidden;
}
.dash_wrap:hover{
    -moz-box-shadow:0 0 5px #999;
    -webkit-box-shadow:0 0 5px #999;
    box-shadow:0 0 5px #999

}
.dash_wrap_title{
    float:left;
    height:98px;
    line-height: 98px;
    width:130px;
    font-size:14px;
    text-align: center;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
.dash_wrap_items{
    float:left;
    margin-left: 10px;
    width:88%;
}
.dash_project_group{
    border:1px solid #D5D5D5;
    padding:2px;
}
#dash_task_items ul{
    list-style: none;
    margin:3px 0;
    padding: 0 10px;
    float:left;
}
#dash_task_items li, .dash_project_group li{
    margin:4px 0;
}
.dash_project_group{
    border:1px solid #D5D5D5;
    padding:2px;
    float:left;
}
.dash_project_group ul{
    list-style: none;
    margin:3px 0;
    padding:0 10px;
}
.dash_project_title{
    margin:2px auto 8px;
    padding:2px;
    font-size:14px;
    text-align: center;
    border:1px solid #3079ED
}
.dash_project_title a{
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
}
/* TASKS */
#container table {
    background-color:#f5f5f5;
    border:1px solid #D5D5D5
}
#container table th{
    font-size:14px;
    font-weight:normal;
    padding:2px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}
#container table.board td{
    width:25%;
    vertical-align:top
}
.transport{
    margin:0 0 6px;
    padding:2px 4px 2px 22px;
    background-image:url(../images/box.png);
    background-position:2px 50%;
    background-repeat:no-repeat;
    background-color:#f5f5f5
}
.transport_info{
    margin:1px 0;
    padding:1px;
    border:1px solid #D5D5D5
}
.transport_info:hover{
    background-color:#efefef;
    outline:1px solid #D5D5D5
}
.task{
    margin:2px 0;
    padding:2px;
    background:#fff;
    position:relative;
    border:1px solid #D5D5D5
}
.task:hover{
    -moz-box-shadow:0 0 5px #999;
    -webkit-box-shadow:0 0 5px #999;
    box-shadow:0 0 5px #999
}
.task_id{margin:0;padding:1px;position:absolute;right:0;top:0}
.task_title{font-weight:bold;text-decoration:underline;margin:0;padding:1px;width:80%}
.task_text{margin:0;padding:1px}
.task_info{margin:0;padding:1px}
.task_links{text-align:center;margin:0;padding:1px}
#container label{font-size:14px}
#container input,textarea,select,button{
    font-size:11px;
    font-family:Arial;
    width:400px;
    background-color:#fff;
    border:1px solid #D5D5D5
}
#container input[type=submit],button{
    font-size:14px;
    width:65px;
    text-align:center;
    margin:2px;
    cursor:pointer;
    border-radius:5px;
    color:#fff;
    text-shadow:1px 1px 0 #3070D5;
    border:1px solid #3079ED
}

/* CLASSES */
.blue-gradient, .btn-blue{background-color:#4A8BF5;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #4F8FFF);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4F8FFF), to(#4080E5));
}
.btn-blue:hover{background-color:#3D7DE0;
    background:-moz-linear-gradient(19% 75% 90deg,#4080E5, #3574D5);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#3574D5), to(#4080E5));
}
.error{
    color:#DD0000;
}
.clear{
    clear:both;
}